body {
    min-width: 300px;
}

main {
    width: 100%;
    margin: 0;
    padding: 0;
}
main h1 {
    text-align: center;

}

form {
    display: inline-block;
    margin: 0 auto;
    width: 100%;
}

label {
    float: left;
    width: 11em;
    text-align: right;
    margin-left: 20%;
}

input, select, textarea {
    width: 20em;
    margin-left: 1em;
    margin-bottom: 1em;
}
input[type="checkbox"],[type="radio"] {
    width: 1em;
}
input[type="submit"] {
    margin-left: 15%;
}

textarea {
    width: 30em;
    height: 10em;
    margin: auto;
    margin-left: 30%;
}

label:last-of-type {
    margin-left: 35%;
}

#registration_form span {
    color: red;
}
#message+span {
    display: block;
    text-align: center;
}

@media only screen and (max-width: 959px) {
    main h1, label {
        clear: both;
        margin: 0 auto;
        text-align: left;
        width: 7em;
    }
    label:last-of-type {
        margin-left: 0;
    }
    form {
        margin-left: 20px;
    }
    textarea {
        width: 60%;
        margin: 0 auto;
    }
    input[type="submit"],[type="button"] {
        width: 7em;
    }
    input[type="submit"] {
        margin-left: 10%;
    }
}

@media only screen and (max-width: 666px) {
    textarea {
        min-width: 300px;
        height: 5em;
    }
}

@media only screen and (max-width: 572px) {
    input[type="radio"]:first-of-type {
        display: block;
        clear: both;
        margin: 15px 0 0 15px;
    }
    label {
        display: block;
        float: none;
        margin: 0;
    }
    textarea {
        margin-top: 1em;
    }
    label:last-of-type {
        display: inline;
    }
}

@media only screen and (max-width: 484px) {
    label {
        width: 13em;
    }
    input, select {
        width: 17em;
    }
    form {
        margin-left: 10px;
    }
}